*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.fs-1{
    text-align: center !important;
    padding-top: 30px !important;
}
.icon{
    text-decoration: none;
}
#footer{
    padding-top: 100px;
}
.search{
    width: 270px;
    height: 40px;
}
.timkiem{
    border: 1px solid black;
    color: black;
    width: 95px;
    height: 40px;
}
.timkiem:hover{
    background-color: black;
    color: white;
}
.a:hover{
    color: red !important;
}
.gia-goc{
    font-size: 14px;
    text-decoration: line-through;
    color: #aaa;
}
input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 30px;
    padding-top: 5px !important;
}
.gia-sale{
    color: red;
}
.hanh-dong{
    padding-top: 30px;
}
.hanh-dong:hover{
    color: red;
}
.tt{
    border: 1px solid rgb(61, 61, 61) !important;
    color: rgb(61, 61, 61) !important;
    background-color: white !important;
    width: 300px;
    height: 50px;
    font-size: 30px;
    padding: 4px;
}
.tt:hover{
    color: white !important;
    background-color: rgb(61, 61, 61) !important;
}