@font-face {
    font-family: Open_Sans;
    src: url(Open_Sans/OpenSans-Light); 
}
.menu > ul > li{
    display: block;
}
.list-product-title{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
}
.card-header{
    text-align: center;
    text-transform: uppercase;
    color: rgb(250, 100, 100);
    background-color: #f8f9fa !important;
    border: 1px solid #d2d2d3 !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.card-body{
    border: 1px solid #d2d2d3 !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-body:hover{
    border: 1px solid rgb(238, 138, 138) !important;
}
.product-group{
    padding-top: 40px;
    padding-bottom: 40px;
}
.icon{
    text-decoration: none;
}
#footer{
    padding-top: 100px;
}
.card-product{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    border: none !important;
}
.banner{
    padding-top: 10px;
}
.product-title{
    margin-bottom: 10px;
}
.del-price{
    font-size: 14px;
    text-decoration: line-through;
}
.new-price{
    color: red;
}
.product-price{
    position: relative;
}
.btn-add-to-cart{
    background-color: rgb(61, 61, 61) !important;
    color: #ffff !important;
    border: 1px solid gray !important;
}
.btn-add-to-cart:hover{
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
}
.btn-detail{
    border: 1px solid black !important;
    color: black !important;
}
.btn-detail:hover{
    color: white !important;
    background-color: rgb(61, 61, 61) !important;
}
.sale-sticky{
    color: white;
    background-color: rgb(252, 84, 84);
    display: block;
    width: 100px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: -33px;
    transform: rotate(45deg);
}
.sale-sticky-h{
    color: rgb(245, 245, 76);
    background-color: rgb(252, 84, 84);
    display: block;
    width: 100px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: -33px;
    transform: rotate(45deg);
}
.sale-sticky-n{
    color: rgb(233, 230, 230);
    background-color: rgb(66, 66, 64);  
    display: block;
    width: 100px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: -33px;
    transform: rotate(45deg);
}
.search{
    width: 270px;
    height: 40px;
}
.timkiem{
    border: 1px solid black;
    color: black;
    width: 95px;
    height: 40px;
}
.timkiem:hover{
    background-color: black;
    color: white;
}
.a:hover{
    color: red !important;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.san{
    padding-bottom: 20px;
}
.ime > img{
    border-left: 1px solid #d2d2d3;
    border-right: 1px solid #d2d2d3;
    border-top: 1px solid #d2d2d3;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.fs-1{
    text-align: center !important;
    padding: 30px !important;
}
